@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}

/* Cursor pointer para todos os botões */
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* Chrome, Safari e Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes expandX {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.test-expand {
  animation: expandX 4s ease-in-out infinite;
  transform-origin: center;
}